<!DOCTYPE html>
<html>
<head>
  <title>SksSolar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Miert Mi?", rolunk_path %>
<%= link_to "Szolgáltatásaink", szolgaltatasaink_path %>
<%= link_to "Kapcsolat", kapcsolat_path %>
<%= link_to "Árajánlat", arajanlat_path %>
<%= yield %>

</body>
</html>
